h1{
  background-color: black;
  font-size:30px;
  font-style: italic;
  padding:20px;
  color: white;
}
 h2{
   color:#40E0D0

 }
body {
  background-image: url("girl-coding.jpg");
  background-repeat: no-repeat;
  background-size:  100% 50%;
}



}
