
body{
    background-color:  black;
    color:white;
    font-family: sans-serif;
    background-image: url("../assets/girl-coding.jpg");
    background-repeat:no-repeat;
    background-size:  100% 100%;
}
  
  h1{
      font-size:30px;
      font-style: italic;
      color: white;
   }
   h2{
   color:#40E0D0;

}
 h3{
   color:blue;
 }
 .introduction  {
  
}

